.grad{
    background-image: linear-gradient(to bottom right, red, yellow);
}

.shad{
    height:40vh;
     width:30%;
     border:1px solid black;
     position:absolute;
     margin: 10% 30% 10% 30%;
     overflow:hidden;
    box-shadow: 10px 10px 5px grey;
}